[submodule "furniture-bench"]
	path = furniture-bench
	url = git@github.com:hjl1013/furniture-bench-resip.git
	branch = main

[submodule "dinov3"]
	path = dinov3
	url = git@github.com:facebookresearch/dinov3.git
	branch = main
